@model ResetViewModel

@{
    ViewData["Title"] = "Login";
}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-6">Reset password</h1>
        </div>
    </div>
    <div class="row justify-content-center">  
        <div class="col-md-6">
            <form asp-action="Reset" asp-controller="Account" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Confirm" class="control-label"></label>
                    <input asp-for="Confirm" class="form-control" />
                    <span asp-validation-for="Confirm"></span>
                </div>
                <div class="form-group">
                    <button type="submit"class="btn btn-primary btn-block">Reset password</button>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary btn-block">Cancel</a>
                </div>
                <input asp-for="Token" type="hidden" />
            </form>
        </div>
    </div>


@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}