@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MVC Web app with local database authentication and AzureAD OpenIdConnect authentication with MS Graph.</p>
</div>
